[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
tensorflow = "*"
pandas = "*"
dvc = "*"
notebook = "*"
matplotlib = "*"
numpy = "*"
seaborn = "*"
python-box = "*"
pyyaml = "*"
tqdm = "*"
ensure = "*"
joblib = "*"
type-pyyaml = "*"
scipy = "*"
flask = "*"
flask-cors = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.9"
